*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(197, 179, 236); */
}
html,body{
    height: 100%;
    width: 100%;
}
.parent{
    height: 100vh;
    width: 100vw;
    background-color: rgb(216, 123, 10);
}
.child{
    height: 50vh;
    width: 100vw;
    background-color: red;
}